@import url('https://fonts.googleapis.com/css?family=Pacifico');

.headerContainer {
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  position: fixed;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-around;
  font-family: 'Pacifico', cursive;
}

span {
  align-self: center;
  padding: 0 10px;
}

.left {
  cursor: pointer;
  display: flex;
}

.right {
   cursor: pointer;
}